html,
body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#external-events {
  width: 25%;
  /* height: 80%; */
  background: #eee;
}

#addTaskForm {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  justify-content: center;
}

#taskInputBox {
  width: 100%;
}

#categorySelection {
  width: 100%;
}

#addedEvents {
  display: grid;
  margin: 4%;
  gap: 10px;
}

.fc-event {
  height: 35px;
  cursor: move;
  text-align: center;
}

.Exercise {
  display: block;
  background-color: rgb(255, 74, 74);
  color: #fff;
}

.Productivity {
  display: block;
  background-color: rgb(0, 255, 0);
  color: #fff;
}

.MentalWellbeing {
  display: block;
  background-color: rgb(149, 229, 255);
  color: #fff;
}

#task-header {
  font-size: 20px;
  text-align: center;
}

#calendar-container {
  width: 60%;
  margin-left: 10px;
}

#calendar {
  height: 100%;
}

#addDeleteEvents {
  display: flex;
  align-items: center;
  gap: 30px;
}

#delete-button {
  /* visibility: hidden; */
  display: none;
  height: 35px;
  text-align: center;
}

#complete-button {
  /* visibility: hidden; */
  display: none;
  height: 35px;
  text-align: center;
}