html,
body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#external-events {
  z-index: 2;
  position: fixed;
  top: 200px;
  left: 600px;
  width: 220px;
  height: 560px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events .fc-event {
  cursor: move;
  margin: 3px 0;
  width: 220px;
  height: 40px;
  text-align: center;
}

#task-header {
  font-size: 20px;
  text-align: center;
}

#calendar-container {
  z-index: 1;
  position: relative;
  margin-left: 250px;
}

#calendar {
  max-width: 800px;
  height: 630px;
}

#delete-button {
  visibility: hidden;
  z-index: 3;
  top: 520px;
  left: 20px;
  width: 120px;
  height: 50px;
  margin-left: 10px;
  text-align: center;
}

#complete-button {
  visibility: hidden;
  z-index: 3;
  top: 520px;
  left: 150px;
  width: 120px;
  height: 50px;
  margin-left: 10px;
  text-align: center;
}